*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,ul{
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'Bebas Neue';
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
 
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('./font/bebasneueregular.woff2') format('woff2'), url('./font/bebasneueregular.woff') format('woff'), url('./font/bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('./font/bebasneuebold.woff2') format('woff2'), url('./font/bebasneuebold.woff') format('woff'), url('./font/bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
/* ==================================== */
.header{
    background-color: #ffffff;
}
.header__topInner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.header__logo{
    max-width: 142px;
    width:100%;
    padding-left: 20px;
    padding-top: 18px;
    order: 1;
}
.header__logo a {
    font-size: 49px;
    line-height: 49px;
    font-family: 'Lobster', cursive;
    color: #3cc3b5;
    height: auto;
}
.header__search{
    max-width: 445px;
    width: 100%;
    padding-top: 28px;
    position: relative;
    order: 2;
}
.header__search input{
    width: 100%;
    height: 31px;
    border: 1px solid #e1e1e1;
    outline: none;
    padding: 0 35px 0 10px;
    
}
.header__search:after{
    content: '';
    width: 23px;
    height: 23px;
    background-image: url(./img/search.png);
    background-size: 23px 23px;
    position: absolute;
    top: 35px;
    right: 8px;
}

.header_basket{
    max-width: 128px;
    width: 100%;
    font-size: 33px;
    line-height: 33px;
    font-weight: 700;
    color: #a1a1a1;
    font-family: 'Bebas Neue';
    padding-top: 28px;
    text-align: end;
    padding-right: 20px;
    position: relative;
    order: 3;
}
.header_basket:before{
    content: url(./img/basket.png);
    width: 41px;
    height: 37px;
    position: absolute;
    right:77px;
    top:20px;
}
/* ================================================ */
.header__bottom{
    max-width: 100%;
    background-color: #4ccfc1;
}
.header_navigation{
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
}
.header_navigation li{
    max-width: 102px;
    width: 100%;
    padding: 3px 0;
    position: relative;
    text-align: center;
}
.header_navigation a:hover{
    border-bottom: 1px solid #fff;
}
.header_navigation a{
    color: #ffffff;
    font-size: 21px;
    line-height: 21px;
    font-family: 'Bebas Neue';
}
.header_navigation li:not(:last-child)::after{
    content: '';
    width: 1px;
    height: 18px;
    background-color: #fff;
    position: absolute;
    top:8px;
    right: 0;
}

/* ========================================= */
.slider{
    max-width: 100%;
    height: 100%;
    background-color: #39c7b8;
    box-shadow:inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}
.slider__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 62px 70px 30px 70px;
}

.slider__photo{
    max-width: 282px;
    width: 100%;
    max-height: 330px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.slider__photo img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    filter: drop-shadow(0 3px 3px #000);
}
.slider__discribe{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}
.slider__discribe-title{
    width:100%;
    font-size: 61px;
    line-height: 54px;
    color: #fff;
    font-family: 'Bebas Neue';
    margin-bottom: 20px;
    font-weight: bold;
}
.slider__discribe-text{
    font-size: 17px;
    line-height: 28px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 26px;
    max-height: 112px;
    overflow: hidden;
}
.slider__discribe-button{
    width: 140px;
    height: 46px;
    border-radius: 5px;
    border: 3px solid #fff;
    background-color: transparent;
    font-size: 27px;
    line-height: 19px;
    color: #fff;
    font-family: 'Bebas Neue';
}

/* ========================================= */
.second-slider{
    width: 100%;
    display: flex;
}
.second-slider__items{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.second-slider__item{
    max-width: 33%;
    min-width: 280px;
    display: flex;
    padding: 28px 65px 22px 24px;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.second-slider__item:not(:last-child):after{
    content: '';
    width: 1px;
    height: 100%;
    background-color: #e7e7e7;
    position: absolute;
    right: 0;
    top:0;
}
.second-slider__photo{
    display: flex;
    align-items: center;
    max-width: 173px;
    min-width: 173px;
    width: 100%;
    height: 132px;
}
.second-slider__photo img{
    display: block;
    margin:0 auto;
    max-width: 100%;
    max-height: 100%;

}

.second-slider__discribe{
    width: 100%;
    height: 103px;
}
.second-slider__discribe-title{
    font-size: 27px;
    line-height: 25px;
    color: #afafaf;
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.default_btn{
    background-color: #3cc395;
    padding: 5px 14px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 19px;
    line-height: 19px;
    font-family: 'Bebas Neue';
}
.left__button,
.right__button{
    max-width: 128px;
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}
.left__button::before,
.left__button::after,
.right__button::before,
.right__button::after{
    content: '';
    width: 45px;
    height: 1px;
    background-color: #e5e5e5;
    position: absolute;
}
.left__button::before{
    top: 63px;
    right: 67px;
    transform: rotate(-60deg);
}
.left__button::after{
    top: 102px;
    right: 67px;
    transform: rotate(60deg);
}
.right__button::before{
    top: 63px;
    left: 67px;
    transform: rotate(60deg);
}
.right__button::after{
    top: 102px;
    left: 67px;
    transform: rotate(-60deg);
}
/* ================================================= */
.feature__products-top{
    max-width: 100%;
    height: 67px;
    background-color:#3fc2b6;
    box-shadow:inset 0px 2px 3px 0px rgba(0, 0, 0, 0.13);
}
.feature__products-top-title{
    font-size: 31px;
    line-height: 67px;
    color: #fff;
    font-family: 'Bebas Neue';
    padding-left: 58px;
    font-weight: bold;
}
.feature__products-bottom{
    max-width: 100%;
}
.feature__products-bottom-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 46px 61px 28px 61px
}
.feature__products-bottom-item{
    max-width: 253px;
    width: 100%;
    height: 255px;
    border: 1px solid #e4e4e4;
    box-shadow: 0 0 1px 1px #f6f6f6, inset 0 -10px 0px -5px #3cc395;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    margin-bottom: 43px;
}

.feature__products-bottom-image{
    display: flex;
    align-items: center;
    max-width: 173px;
    width: 100%;
    max-height: 142px;
    margin-bottom: 15px;
}
.feature__products-bottom-image img{
    display: block;
    margin:0 auto;
    max-width: 100%;
    max-height: 100%;
}
.feature__products-bottom-title{
    font-size: 27px;
    line-height: 25px;
    text-transform: uppercase;
    color: #afafaf;
    font-family: 'Bebas Neue';
    margin-bottom: 10px;
    font-weight: bold;
}
.feature__products-bottom-priceAndBuy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.feature__products-bottom-price{
    font-size: 27px;
    line-height: 25px;
    text-transform: uppercase;
    color: #afafaf;
    font-family: 'Bebas Neue';
    margin-right: 15px;
    font-weight: bold;
}
.feature__products .default_btn{
    padding: 9px 9px 9px 10px;
}
/* ============================================ */
.footer__top{
    background-color: #3cc3b5;
}
.footer__top-inner{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 40px 61px;
    
}
.feature__sale-title{
    font-size: 27px;
    line-height: 25px;
    color: #fff;
    font-family: 'Bebas Neue';
    margin-bottom: 21px;
    font-weight: bold;
}
.feature__sale-items{
    padding-left: 3px;
}
.feature__sale-item a{
    font-size: 15px;
    line-height: 28px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.footer__bottom{
    text-align: center;
    font-size: 15px;
    line-height: 46px;
    background-color: #2da89b;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    height: 46px;
}

.footer__top-sale,
.footer__top-man-story,
.footer__top-women-story,
.footer__top-quick-links{
    margin: 0 auto;
    margin-bottom: 20px;
    min-width: 25%;
}



@media screen and (max-width: 768px){
    .header_basket{
        order: 1
    }
    .header_navigation{
        max-width: 510px;
        width: 100%;
        margin: 0 auto;
    }
    .header_navigation li::after{
        content: '';
        width: 1px;
        height: 18px;
        background-color: #fff;
        position: absolute;
        top:8px;
        right: 0;
    }
    .header_navigation a:hover{
        border-bottom: 0px solid #fff;
    }
    .second-slider__item{
        max-width:50%
    }
}

@media screen and (max-width: 414px){
    .second-slider__item{
        max-width:100%
    }
}